# Android/IntelliJ
#
Android/app/build/

build/
.idea
.gradle
local.properties
*.iml
android/.gradle/
android/.settings/
android/app/.settings/
# node.js
#
node_modules

npm-debug.log
yarn-error.log

.vscode/

